<style>
  .container {
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .faq-cont {
    display: flex;
    flex-flow: column nowrap;
    margin: 10px 10vw;
    padding: 10px;
  }
  .faq-ques {
    border-bottom: 2px solid #0f0f0f;
    color: #0f0f0f;
    font-weight: 600;
    font-size: 1.1em;
  }
  .faq-ans {
    margin: 5px 8vw;
  }
</style>

<div class="container">
  <div class="faq-cont">
    <p class="faq-ques">
      Is this for real?
    </p> 
    <p class="faq-ans">
      Yes, and No. Does this webapp exist as you exist, in what we've determined to be existence in this universe? Yes.
    </p>
    <p class="faq-ans">
      However, is there an actual registered company with the name san-wo-canoe? No, I'm afraid not. But there could be! 
    </p>
  </div>
  <div class="faq-cont">
    <p class="faq-ques">
        Is this free?
    </p> 
    <p class="faq-ans">
        It could be! Fill the form and find out.
    </p>
  </div>
  <div class="faq-cont">
    <p class="faq-ques">Does this actually work?</p> 
    <p class="faq-ans">Yep.</p>
  </div>
</div>
